{{ template "head" }}
<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <form class="w-25" action="/login" method="post">
        <!-- Email input -->
        <h4 class="text-center mb-3 fw-normal">Sign in</h4>
        <div class="form-floating mb-2">
            <input type="text" id="login" class="form-control bg-transparent text-white border-success" name="login"
                placeholder="Login" />
            <label for="login">Login</label>
        </div>

        <!-- Password input -->
        <div class="form-floating mb-2">
            <input type="password" id="password" class="form-control bg-transparent text-white border-success"
                name="password" placeholder="Password" />

            <label for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input bg-transparent border-success" type="checkbox" value=""
                        id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a class="link-success" href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-outline-success mb-4 w-100">Sign in</button>
        </div>
        <!-- Register buttons -->
    </form>
</div>

{{ template "end" }}