{{ template "head" . }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row pt-5">
    <div class="col-lg-3 min-vh-25 mb-3">
        <div class="card bg-transparent border-success shadow">
            <div class="card-body">
                <div class="">
                    {{/* <a href="#">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                    </a> */}}
                    <p class="h2 pt-2">Profile</p>
                    <hr>
                    <small class="h5 text-muted">#{{ .User.Login }}</small>
                    <p class="h3 m-0">{{ .User.FirstName }} {{ .User.SecondName }}</p>
                    <p class="h5 text-muted">{{ .User.Group.GroupCode }}</p>
                </div>
                <div class="d-flex">
                    <a class="btn btn-sm btn-outline-warning my-2 p-1" href="/download/vpn"
                        download="{{ .User.Login }}.conf"><i class="bi bi-download"></i> VPN Config</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <div class="card bg-transparent border-success shadow">

            <div class="card-body">
                <p class="h2 pt-2">Info</p>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h1 class="h5"><small class="h5 text-muted">Score:</small> {{ .Score }}</h1>
                    </div>
                    <div class="col-6">
                        <div class="progress bg-secondary border-success position-relative" style="height: 20px;">
                            <div class="progress-bar bg-success" role="progressbar"
                                style="width: {{ .SolvedPercent }}%;" aria-valuenow="{{ .SolvedPercent }}"
                                aria-valuemin="0" aria-valuemax="100"></div>
                            <p class="justify-content-center d-flex position-absolute w-100">Total Solved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/* {{ template "profile_charts" . }} */}}
        <div id="machine_card"
            class="card bg-dark border-success shadow mt-3{{ if not .ActiveChallenge.Name }} d-none{{ end }}">
            <div class="card-header">Machine info</div>
            <div class="card-body">
                <div class="d-flex flex-fill justify-content-between align-items-center">
                    <div id="ach_name">{{ .ActiveChallenge.Name }}</div>
                    <div id="ach_ip">{{ .ActiveChallenge.IP }}</div>
                    <div id="ach_status">{{ .ActiveChallenge.Status }}</div>
                    <div id="ach_time">{{ .ActiveChallenge.Time }}</div>
                    <div>
                        <button type="button" class="btn btn-sm m-1 btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#Modal">
                            Submit Flag
                        </button>
                        {{ template "submit" }}
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="manage_task('', 'stop')">
                            Terminate
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="h4 pt-3">My Challenges</h1>
        <div class="row">
            <div class="p-1">
                {{ $ach := .ActiveChallenge }}
                {{ range .User.UsersChallenges }}
                <div class="row m-2 ">
                    <div class="card bg-dark border-success p-0 shadow">
                        <div class="row g-0">
                            <div class="col-lg-1 d-flex align-items-center justify-content-center bg-success">
                                <div class="text-wrap">{{ .Challenge.Category }}</div>

                            </div>
                            <div class="col bg-secondary bg-opacity-10">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div class="h5 d-flex align-items-center m-0">{{ .Challenge.Name }}
                                        <small class="text-muted px-1">#{{ .Challenge.Points }}</small>
                                    </div>
                                    <div>
                                        {{ .ExpiresAt.Format "Mon Jan _2 15:04 MST" }}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        {{ if .Solved}}
                                        <div class="text-success m-1">Solved</div>
                                        {{ else }}
                                        {{ end }}
                                        {{ if eq .Challenge.Name $ach.Name}}
                                        <div class="text-success m-1">Deployed</div>
                                        {{ end }}
                                        {{ if not $ach.Name }}
                                        <button type="button" class="btn btn-sm m-1 btn-outline-success"
                                            onclick="manage_task('{{ .Challenge.Name }}', 'run')">
                                            Deploy
                                        </button>
                                        {{ end }}
                                    </div>

                                </div>
                                <div class="card-body bg-dark">
                                    {{ .Challenge.Description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<script>
    var ach
    async function submit_flag() {
        try {
            var flag = document.forms["ach"].flag.value
            console.log(this.ach.name, flag)
            const result = await axios.post(
                '/submit',
                { name: this.ach.name, flag: flag }
            ).then(res => {
                if (res.data.status === 202) {
                    // modal.hide();
                } else {
                    input = document.getElementById(`flag`)
                    input.classList.add('border-danger');
                    text = document.getElementById(`text`)
                    text.classList.add('text-danger');
                    text.textContent = res.data.msg
                }
            })
        } catch (errors) {
            console.error(errors);
        }
        return false
    }
    async function manage_task(task, action) {
        if (task == "") {
            task = this.ach.name
        }
        try {
            const result = await axios.get(
                '/challenge',
                { params: { action: action, task: task } }
            ).then(res => {
                console.log(res.data)
            }).catch(function (error) {
                console.error(error)
            })
        } catch (errors) {
            console.error(errors);
        }
    }
    async function active_task() {
        try {
            const result = await axios.get(
                '/challenge/active'
            ).then(res => {
                console.log(res.data)
                if (res.data.name === "") {
                    document.getElementById("machine_card").classList.add("d-none")
                } else {

                    document.getElementById("ach_name").innerHTML = res.data.name
                    document.getElementById("ach_status").innerHTML = res.data.status
                    document.getElementById("ach_ip").innerHTML = res.data.ip
                    document.getElementById("ach_time").innerHTML = res.data.time

                    document.getElementById("machine_card").classList.remove("d-none")
                }
                this.ach = res.data
            }).catch(function (error) {
                console.error(error)
            })
        } catch (errors) {
            console.error(errors);
        }
    }
    setInterval(active_task, 2000);
</script>
{{ template "end" }}