{{ define "profile_charts" }}
<div class="row mt-3">
    <h1 class="h4">SolveActivity</h1>
    <div class="col-md-7 py-1">
        <div class="card bg-dark border-0">
            <div class="card-body">
                <canvas id="chLine"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    /* chart.js chart examples */

    // chart colors
    var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];

    /* large line chart */
    var chLine = document.getElementById("chLine");
    var chartData = {
        labels: {{ .SolvedBar.TimeLine }},
    datasets: [{
        data: {{ .SolvedBar.ScoreLine }},
        backgroundColor: 'transparent',
        borderColor: colors[0],
        borderWidth: 4,
        pointBackgroundColor: colors[0]}]

};
    if (chLine) {
        new Chart(chLine, {
            type: 'line',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                plugins: {
                    legend: {
                        display: false
                    }
                },
                responsive: true
            }
        });
    }

</script>
{{ end }}