{{ template "head" . }}
<div class="container px-5">
    <div class="row gx-5 justify-content-center d-flex align-items-center " style="height: 70vh;">
        <div class="col-lg-6">
            <div class="text-center my-5 ">
                <h1 class="display-5 fw-bolder text-white mb-2">Potee Tasks</h1>
                <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with
                    Bootstrap, the world’s most popular front-end open source toolkit!</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-success btn-lg px-4 me-sm-3" href="/profile">Profile</a>
                    <a class="btn btn-outline-success btn-lg px-4" href="#!">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "end" }}